# Dependency and build outputs
node_modules
/dist
/build

# Logs and coverage
logs
*.log
coverage
.nyc_output

# OS / editor junk
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Env files
.env
.env.*

# Prisma generated client
/generated/prisma
